@page "/edit-routine"
@page "/edit-routine/{id:int}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.Security.Claims
@attribute [Authorize]
@rendermode RenderMode.InteractiveServer
@inject IRoutineService RoutineService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider Authentication
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Edit Routine</PageTitle>
<h2>Edit Routine</h2>

<AuthorizeView>
	<div class="col-md-4">
		<hr />
		<EditForm Model=@routine OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit" FormName="EditRoutine" Context="EditRoutine">

			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="form-floating mb-3">
				<InputText @bind-Value="routine.Name" class="form-control" aria-required="true" placeholder="Routine Name" />
				<label for="routineName" class="form-label">Routine Name</label>
				<ValidationMessage For="() => routine.Name" class="text-danger" />
			</div>
			<hr />

			@foreach (var e in routine.Exercises)
			{
				<div>
					<label class="h5">Exercise: @e.Sequence</label>
					<button @onclick="() => RemoveExercise(e)" class="btn btn-close"></button>
				</div>
				<div>
					<label for="Name @e.Sequence">Name: </label>
					<InputText @bind-Value=e.Name>@e.Name</InputText>
					<ValidationMessage For="() => e.Name" />
					<label for="Name @e.Sequence">Sets: </label>
					<InputNumber @bind-Value=e.Sets>@e.Sets</InputNumber>
					<ValidationMessage For="() => e.Sets" />
				</div>
				<div>
					<InputCheckbox @bind-Value=e.HasReps>@e.HasReps</InputCheckbox>
					<label>Reps? | </label>
					<InputCheckbox @bind-Value=e.HasWeight>@e.HasWeight</InputCheckbox>
					<label>Weight? | </label>
					<InputCheckbox @bind-Value=e.HasDuration>@e.HasDuration</InputCheckbox>
					<label>Duration?</label>
				</div>
				<hr />
			}
			<div>
				<button type="button" @onclick=AddExercise class="btn btn-primary">+ Add Exercise</button>
			</div>
			<br />
			<div>
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</EditForm>
	</div>
</AuthorizeView>



@code {

	private bool Busy = false;

	[Parameter]
	public int? Id { get; set; }

	Routine routine = new() {
		Name = string.Empty,
		Exercises = new List<Exercise>()
		{
			new Exercise()
			{
				Sequence = 1,
				Name = string.Empty,
				Sets = 1,

				HasReps = true,
				HasWeight = true
			}
		},
	};

	async Task OnInvalidSubmit()
	{
		await Task.Delay(1);
	}

	async Task OnValidSubmit()
	{
		if (Busy) return;
		Busy = true;

		// Submit the changes / additions

		// Assume the form was valid:
		try
		{
			var authState = await Authentication.GetAuthenticationStateAsync();
			var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);
			var currentUser = await UserManager.FindByIdAsync(userId);
			routine.CreateUser = currentUser;
		}
		catch 
		{
			Busy = false;
			return;	
		}


		var createdRoutine = await RoutineService.AddRoutineAsync(routine);

		// Navigate to the "View Routine" Page:
		if (createdRoutine is null)
		{
			// Error Creating Routine??
			Busy = false;
			return;
		}

		Navigation.NavigateTo("routines");
	}

	void AddExercise()
	{
		routine.Exercises.Add(
			new Exercise()
			{
				Sequence = routine.Exercises.Count + 1,
				Name = string.Empty,
				Sets = 1,

				HasReps = true,
				HasWeight = true
			}
		);
	}

	void RemoveExercise(Exercise e)
	{
		if (routine.Exercises.Remove(e))
		{
			for (int i = 0; i < routine.Exercises.Count; i++)
			{
				routine.Exercises[i].Sequence = i + 1;
			}
		}
	}
}
