@page "/routines"
@using WhatYouDid.Routines
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.Security.Claims
@attribute [Authorize]
@rendermode RenderMode.InteractiveServer
@inject IRoutineService RoutineService
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Navigation
@inject AuthenticationStateProvider Authentication

<PageTitle>Routines</PageTitle>
<h1>Routines</h1>

@if (routinesQueryable is null)
{
	<span>Loading...</span>
}
else
{
	<RadzenDataGrid Data="@routinesQueryable" TItem="Routine">
		<Columns>
			<RadzenDataGridColumn TItem="Routine" Property="Name" Title="Name" Frozen="true" />
			<RadzenDataGridColumn TItem="Routine" Title="View">
				<Template Context="routine" >
					<RadzenButton Click="@(() => OpenExercises(routine))">View</RadzenButton>
				</Template>
			</RadzenDataGridColumn>
		</Columns>
	</RadzenDataGrid>
}

@if (exercises is not null)
{
	<RadzenDataList Data="exercises" TItem="Exercise">
		<Template Context="exercise">
			<RadzenColumn>
				<RadzenText>@exercise.Sequence</RadzenText>
			</RadzenColumn>
			<RadzenColumn>
				<RadzenText>@exercise.Name</RadzenText>
			</RadzenColumn>
			<RadzenColumn>
				<RadzenText>@exercise.Sets</RadzenText>
			</RadzenColumn>
			<RadzenColumn>
				<RadzenText>@exercise.HasReps</RadzenText>
			</RadzenColumn>
			<RadzenColumn>
				<RadzenText>@exercise.HasWeight</RadzenText>
			</RadzenColumn>
			<RadzenColumn>
				<RadzenText>@exercise.HasDuration</RadzenText>
			</RadzenColumn>
		</Template>
	</RadzenDataList>
}

@code {

	IQueryable<Exercise>? exercises;
	IQueryable<Routine>? routinesQueryable;
	ApplicationUser? user;

	void OpenExercises(Routine routine)
	{
		exercises = RoutineService.GetExercises(routine.RoutineId);
	}

	protected override async Task OnInitializedAsync()
	{
		// Get the user:
		var authState = await Authentication.GetAuthenticationStateAsync();
		var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);
		user = await UserManager.FindByIdAsync(userId);

		var routines = await RoutineService.GetRoutinesAsync();
		routinesQueryable = routines.AsQueryable();
	}
}
