@using System.Timers

@inject IJSRuntime JS

@implements IDisposable

<MudStack>
    <div style="font-size:2rem;font-weight:600;text-align:center;color:@(ReachedGoal ? "green" : "inherit")">@FormatTime(_elapsedSeconds)</div>

    @if (Goal > 0)
    {
        <div style="text-align:center;color:var(--mud-palette-secondary);font-size:0.9rem;">Target: @FormatTime(Goal)</div>
    }

    <MudStack Row="true" Justify="Justify.Center">
        <MudIconButton Size="Size.Medium" OnClick="Start" Disabled="_running" Color="Color.Secondary" Icon="@Icons.Material.Filled.PlayArrow" />
        <MudIconButton Size="Size.Medium" OnClick="Stop" Disabled="!_running" Color="Color.Secondary" Icon="@Icons.Material.Filled.Pause" />
        <MudIconButton Size="Size.Medium" OnClick="Reset" Color="Color.Secondary" Icon="@Icons.Material.Filled.Refresh" />
    </MudStack>
</MudStack>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;

    private Timer? _timer;
    private bool _running;
    private int _elapsedSeconds;

    [Parameter]
    public int Goal { get; set; } = 0;
    private bool ReachedGoal => Goal > 0 && _elapsedSeconds >= Goal;

    private async Task Start()
    {
        if (_running)
            return;

        if (_timer == null)
        {
            _timer = new Timer(1000);
            _timer.Elapsed += OnTick;
            _timer.AutoReset = true;
        }

        await JS.InvokeVoidAsync("wakeLockHelper.enable");

        _timer.Start();
        _running = true;
    }

    private async Task Stop()
    {
        if (_timer == null)
            return;

        _timer.Stop();
        _running = false;

        await JS.InvokeVoidAsync("wakeLockHelper.disable");
    }

    private async Task Reset()
    {
        await Stop();
        _elapsedSeconds = 0;
        await InvokeAsync(StateHasChanged);
    }

    private void OnTick(object? sender, ElapsedEventArgs e)
    {
        _elapsedSeconds++;
        InvokeAsync(StateHasChanged);
    }

    private string FormatTime(int seconds)
    {
        var ts = TimeSpan.FromSeconds(seconds);
        return ts.ToString("mm\\:ss");
    }

    public void Dispose()
    {
        try
        {
            if (_timer != null)
            {
                _timer.Elapsed -= OnTick;
                _timer.Dispose();
                _timer = null;
            }
        }
        catch { }
    }
}
